
body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 1.4rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.container-features {
  padding: 10% 15%;
}

/* Navigation Bar */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  margin-bottom: 1.5rem;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials-section */

#testimonials {
  text-align: center;
  background-color:  #ff4c68;
  color: #fff;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 5%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3rem;
}

.presslogo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-indicators {
  margin-right:370px;
}

.carousel-item {
    padding: 7% 10%;
}

/* pricing-section */

#pricing {
  text-align: center;
  padding: 7% 10%;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to action */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
    text-align: center;
}

.cta-heading {
  margin: 0 5%;
  font-size: 3rem;
  line-height: 1.5;
}

/* cta-buttons */

.cta-button {
  margin: 5% 3% 5% 0;
}

/* Footer-section */

.footer-notes {
  margin: 0;
  margin-top: 1.5%;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-tag {
  margin: 0 0.8rem;
  color: #000;
}

/* Media-Query */

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}
